
html { overflow: hidden; height: 100%; }
article, aside, figure, footer, header, hgroup, nav, section { display: block; }
.touch body { -webkit-text-size-adjust: none; }
:focus { -moz-outline-style: none; outline: none; }

body {
	margin: 0;
	font-family: 'Ginger',Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: -0.01em;
	height: 100%;
	overflow: hidden;
}

p {
	margin: 0;
}
strong {
	font-family: 'GingerBold',Helvetica,Arial,sans-serif;
	font-weight: normal;
}

a {
	outline: none;
	text-decoration: none;
	border-bottom:1px solid black;
	color: black;
	-webkit-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
	-moz-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
	-ms-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
	-o-transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
	transition: color 1.2s ease-in-out, border-color 1.2s ease-in-out;
}
a:hover {
	color: #9d81ba;
	border-color: #9d81ba;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a img { border: 0; }
img { max-width:100%; }

h1 {
	font-size: 22px;
	line-height: 35px;
	margin: 0;
	font-weight: normal;
	opacity: 0;
	-webkit-animation: fadeIn 2s ease-out 1 0.1s;
	-ms-animation: fadeIn 2s ease-out 1 0.1s;
	animation: fadeIn 2s ease-out 1 0.1s;
	animation-fill-mode: forwards;
}
h1 a { border-color: #ccc; }
h1 small {
	font-size: 70%;
}

h2 {
	font-size: 30px;
	line-height: 50px;
	max-width: 1000px;
	margin: 0;
	position: absolute;
	top:60%;
	left:120px;
	font-weight: normal;
	font-family: 'GingerBold',Helvetica,Arial,sans-serif;
	opacity: 0;
	-webkit-animation: fadeIn 2s ease-out 1 1.3s;
	-ms-animation: fadeIn 2s ease-out 1 1.3s;
	animation: fadeIn 2s ease-out 1 1.3s;
	animation-fill-mode: forwards;
}



/* ------------------------------------
------------------------------------ */

.wrapper {
	padding: 80px 80px 0 120px;
	height: 100%;
	-webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box;
}

ul.numchuck_skills {
	font-size: 200px;
	width: 100%;
	font-size: calc(100vw / 6);
	line-height: 180px;
	color: #68f385; /*00e5c7*/
	font-family: 'GingerBold',Helvetica,Arial,sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	letter-spacing: -0.04em;
	position: absolute;
	left: -30px;
	top: 25%;
	white-space: nowrap;
	opacity: 0;
	-webkit-animation: fadeIn 2s ease-out 1 0.6s;
	-ms-animation: fadeIn 2s ease-out 1 0.6s;
	animation: fadeIn 2s ease-out 1 0.6s;
	animation-fill-mode: forwards;
	pointer-events: none;
}

ul.numchuck_skills li{
	position: absolute;
	opacity: 0;
	width: 100%;
	-webkit-animation: rotateWord 12s cubic-bezier(1,0,0,1) infinite 0s;
	-ms-animation: rotateWord 12s cubic-bezier(1,0,0,1) infinite 0s;
	animation: rotateWord 12s cubic-bezier(1,0,0,1) infinite 0s;
}
ul.numchuck_skills li:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
ul.numchuck_skills li:nth-child(3) { 
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
ul.numchuck_skills li:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}

footer {
	position: absolute;
	bottom:80px;
	left:120px;
	opacity: 0;
	-webkit-animation: fadeIn 1s ease-out 1 1.6s;
	-ms-animation: fadeIn 1s ease-out 1 1.6s;
	animation: fadeIn 1s ease-out 1 1.6s;
	animation-fill-mode: forwards;
}

a {-webkit-tap-highlight-color:rgba(0,0,0,0);}
::-moz-selection{background: rgba(0,0,0,0.1) !important;}
::selection {background: rgba(0,0,0,0.1); !important;}
ul::selection, li::selection {background: rgba(0,0,0,0); !important;}

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }


/*keyframes*/

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    4% { opacity: 0; -webkit-transform: translateY(-30px); }
	7% { opacity: 1; -webkit-transform: translateY(0px);}
    27% { opacity: 1; -webkit-transform: translateY(0px); }
	32% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    4% { opacity: 0; -ms-transform: translateY(-30px); }
	7% { opacity: 1; -ms-transform: translateY(0px);}
    27% { opacity: 1; -ms-transform: translateY(0px); }
	32% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    4% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	7% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    27% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	32% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translateY(-30px); }
	100% { opacity: 1; }
}
@-ms-keyframes fadeInDown {
	0% { opacity: 0; -ms-transform: translateY(-30px); }
	100% { opacity: 1; }
}
@keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@font-face {
	font-family:'Ginger';
	src:url('_inc/fonts/f37ginger-regular-webfont.eot');
	src:url('_inc/fonts/f37ginger-regular-webfontd41d.eot?#iefix') format("embedded-opentype"),
		url('_inc/fonts/f37ginger-regular-webfont.woff') format("woff"),
		url('_inc/fonts/f37ginger-regular-webfont.ttf') format("truetype"),
		url('_inc/fonts/f37ginger-regular-webfont.svg#f37ginger-bold') format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GingerBold';
	src:url('_inc/fonts/f37ginger-bold-webfont.eot');
	src:url('_inc/fonts/f37ginger-bold-webfontd41d.eot?#iefix') format("embedded-opentype"),
		url('_inc/fonts/f37ginger-bold-webfont.woff') format("woff"),
		url('_inc/fonts/f37ginger-bold-webfont.ttf') format("truetype"),
		url('_inc/fonts/f37ginger-bold-webfont.svg#f37ginger-bold') format("svg");
	font-weight:normal;
	font-style:normal;
}

.ie * { opacity: 1 !important; }
.ie .numchuck_skills { display: none !important; }


@media screen and (max-width:1200px) {
	
	ul.numchuck_skills {
		left:-20px;
	}
	h2 {
		font-size: 25px;
		line-height: 40px;
	}
	
}

@media screen and (max-width:1023px) {
	
	.wrapper {
		padding: 80px 80px 0 80px;
	}
	h2 {
		left:80px;
	}
	footer {
		left:80px;
	}
	
}

@media screen and (max-width:767px) {
	
	.wrapper {
		padding: 40px 20px;
	}
	.hide, footer { display: none; }
	h1 {
		
	}
	h1 small {
		display: block;
		line-height: 25px;
	}
	ul.numchuck_skills {
		font-size: calc(100vw / 6);
		left:-5px;
		line-height: 100px;
		height: 100px;
		top:auto;
		bottom:10%;
	}
	h2 {
		font-size: 28px;
		line-height: 42px;
		left: 20px;
		bottom: auto;
		top: 35%;
	}
	
}

@media screen and (max-width:480px) {
	
}


